{{define "body"}}
<section>
    <h3>Hello</h3>
    <!--    <br>-->
    <p>I'm <b>Dmytro Halinovskyi</b> irl and <b>dmytzo</b> on the Internet.</p>
    <p>I do software engineering.</p>
    <p>I practice minimalism.</p>
    <p>I follow the <b>Keep it Simple, Stupid</b> principle.</p>
    <p>I use the GTD system.</p>
    <p>I play squash and do cycling.</p>
    <p>I am passionate about programming.</p>
    <p>I like tech, gadgets and lego.</p>
    <br>
    <p>originally from Ukraine.</p>
    <p>currently live in Berlin, Germany.</p>
    <br>
    <h3>my values</h3>
    <p>simplicity</p>
    <p>openness</p>
    <p>humanism</p>
    <p>honesty</p>
    <p>diligence</p>
    <br>
    <h3>contact</h3>
    <p>
      <a class="social-link" href="https://www.linkedin.com/in/galinovski/" target="_blank">linkedin</a>
    </p>
  </section>
{{end}}

